@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.nav-link,
.af-navbar {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.af-navbar {
  background-color: #011f40;
}

.nav-link {
  color: white;
  font-size: 17px;
  margin: 0 10px;
  background-color: transparent;
  border: none;
}
